<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>«Groß Herd fun Marlen» – Button-Generator</title>
    <link rel="stylesheet" href="/screen.css" type="text/css" media="screen" charset="utf-8">
    <script type="text/javascript" charset="utf-8">
!function(a,b){typeof define=="function"?define(b):typeof module!="undefined"?module.exports=b():this[a]=this.domReady=b()}("domready",function(a){function l(a){k=1;while(a=b.shift())a()}var b=[],c,d=!1,e=document,f=e.documentElement,g=f.doScroll,h="DOMContentLoaded",i="addEventListener",j="onreadystatechange",k=/^loade|c/.test(e.readyState);e[i]&&e[i](h,c=function(){e.removeEventListener(h,c,d),l()},d),g&&e.attachEvent(j,c=function(){/^c/.test(e.readyState)&&(e.detachEvent(j,c),l())});return a=g?function(c){self!=top?k?c():b.push(c):function(){try{f.doScroll("left")}catch(b){return setTimeout(function(){a(c)},50)}c()}()}:function(a){k?a():b.push(a)}})

      domReady(function(){
        var 
          getButtonBtn = document.getElementById('button'),
          getSheetBtn = document.getElementById('sheet'),
          yearInputText = document.getElementById('year'),
          form = document.getElementById('form')
        ;

        form.addEventListener('submit', function(){ return false; });
        
        getButtonBtn.addEventListener('click', function() {
          window.location = '/button/' + yearInputText.value  
        });

        getSheetBtn.addEventListener('click', function() {
          window.location = '/sheet/' + yearInputText.value  
        });

      });
    </script>
  </head>
  <body>
    <div id="header"><h1>Groß Herd fun Marle</h1> <h2>Button-Generator</h2></div>  
    <form id="form" action="#" method="GET">
      <p>
        <label for="year">Erstelle Buttons für das Jahr:</label>
        <input type="text" name="year" value="<%= Time.now.year %>" id="year">
      </p>
      <p>
        <button type="button" id="button">Nur einen Button</button>
        <button type="button" id="sheet">6 Buttons auf ein DINA4-Blatt</button>
      </p>
    </form>
    <div id="info">
      <h3>Was gibt es zu beachten?</h3>       
      <p>
        Ein Button hat eine Auflösung von 1535*1535 bei ~600 <acronym lang="en" title="dots per inch">dpi</acronym>. Dadurch hat der Button einen Durchmesser von ~65 <acronym title="Millimeter">mm</acronym>.
      </p>
      <p>
        Beim Drucken sollte man auf die Druckeinstellungen achten! Die Größe des Bildes muss auf «Originalgröße» oder auf «100%» oder etwas anderes relevantes gestellt werden, je nach Druckertreiber oder Programm.
      </p>
    </div>
  </body>
</html>
